<h1>General Mesh Manipulation</h1>
<h3>Combining Vertices</h3>
<ul>
  <li><em>Method 1.</em></li>
  <ol>
    <li><strong>Click</strong> vertices</li>
    <li><strong>Press M</strong> to merge</li>
    <li>Merge at center</li>
  </ol>

  <li><em>Method 2.</em></li>
  <ol>
    <li>Go to Tools</li>
    <li>Options</li>
    <li>Automerge</li>
    <li>Turn Snap on > Set to Vertex</li>
    <li>Press <strong>G</strong> twice to slide vertex to the other vertices</li>
  </ol>
</ul>

<h3>Extrude Along Normals</h3>
<ol>
  <li><strong>Alt + E</strong></li>
  <li>Extrude Along Normals</li>
</ol>

<h3>Joining Objects</h3>
<ol>
  <li>
    <strong>Shift Click</strong> 2 objects (The order is important, last object
    is the destination object)
  </li>
  <li><strong>Press E</strong></li>
</ol>

<h3>Seperating Objects</h3>
<ol>
  <li>Select Faces or <strong>Press L</strong> to select the whole object</li>
  <li><strong>Press P</strong> > Seperate by selection</li>
</ol>

<h3>Select Similiar</h3>
<ol>
  <li>Select an edge</li>
  <li><strong>Shift + G</strong></li>
  <li>Crease, Seam, Sharpness</li>
</ol>

<h3>Fix Circle Merged at Center</h3>
<ol>
  <li>Select the weird faces</li>
  <li>Dissolve Edges</li>
  <li>Poke Face</li>
</ol>

<h3>Apply All modifiers</h3>
<ol>
  <li>Select All (<strong>Press A</strong>)</li>
  <li>
    Open search menu with <strong>Space</strong> or <strong>F3</strong> and
    search "Convert to Mesh"
  </li>
  <li>Or access from the Menu > Object > Convert to > Mesh</li>
</ol>
