<h1>Modifiers</h1>
<h3>General Modifiers</h3>
<ol>
  <li><strong>Mirror</strong> = Mirrors an object across X, Y, or Z Axis</li>
  <li>
    <strong> Subdivision Surface</strong> = Create higher resolution by adding
    points between existing vertices
  </li>
</ol>
<h3>Hard-Surface Modelling</h3>
<ol>
  <li>
    <strong> Edge Split</strong> = Used to define where smooth shading stops
    (Also see Mark Sharp)
  </li>
  <li>
    <strong> Screw</strong> = Create a full object from an edge (Imagine a
    triangle turning into a pizza from a spiral). Turn on Calc Order and Flip
  </li>
  <li>
    <strong>Bevel</strong> = Add Bevel to edges. Turn off Clamp Overlap,
    Profile: 1
  </li>
</ol>
<h3>Sculpting</h3>
<ol>
  <li>
    <strong> Multiresolution</strong> = Like Subdivision, but in steps.
    Preserves the lower Subdivisions, and can go back and forth between them.
    Rebuild Subdivisions can be used to Remesh or Retopologize Higher poly
    models
  </li>
</ol>
